@media (max-width:1400px){
        /* .preview__statistics {
            flex-wrap: wrap;
        } */
    }
@media (max-width:1200px){
/* preview  */
    .preview__statistics{
     
        flex-direction: row ;
        padding: 0 10px;
        gap: 10px;
        align-items: center;
    }
/* .projects */
.projects__content-title{
    font-size: 44px;
}
.preview__statistics-item,
.preview__statistics-solid{
    width: 380px;
}
.projects__collection{
    grid-template-columns: auto;
    grid-template-rows: auto;
}
  /*.services  */






  
/* precess */






/* stages */

    }
    
    
    @media (max-width:992px){
 /* preview */
.preview__title{
    font-size: 40px;
}
.preview__title__text,.preview__title__text{
font-size: 15px;
}
.preview__statistics{
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}
.preview__statistics-title,.preview__statistics-tisolid{
    font-size: 86px;
    width: 380px;
   
}
.preview__title__text{ 
    min-width: 250px;
    font-size: 15px;
}


.preview__statistics-text,
.preview__statistics-info{
    font-size: 15px;
}

    /*.projects  */
    .projects__content-title{
        font-size: 42px;
    }

    .projects__content__text{
        font-size: 15px;
    }
    .projects__item a{
        font-size: 18px;
    }
    .projects__title{
        font-size: 34px;
    }
/* show */

.show__content{
    flex-wrap: wrap;
}
.show__title{
    font-size: 44px;
}

   /*.services  */
   .services__content-title{
    font-size: 46px;
   }
   .services__item{
    flex-wrap: wrap;
    justify-content: center;
   }
   .services__item-box {
    min-height: 550px;
   }
   /* product */
   .products__title{
    font-size: 40px;
   }
   .products__info{
    font-size: 18px;
   }
   .products__item-card-info h2{
    font-size: 32px;
   }
    /* products */
.products__title-box{
    flex-wrap: wrap;
  
gap: 10px;
}
.products__info{
    font-size: 18px;
}
.products__item-card-info h2{
    font-size: 34px;
}
.products__item-card-info p{
    font-size: 14px;
}
/* precess */
.precess__item-info h1{
    font-size: 40px;
}
.precess__item-info p{
    font-size: 16px;
}
.precess__item{
    gap: 100px;
}
.precess__item-box2{
    gap: 200px;
}

/* stages */
.stages__content h1{
    font-size: 44px;  
}
.stages__content-text,
.stages__content-preview{
    font-size: 18px;
}

.stages__item{
    justify-content: center;
    
}
.stages__item-box{
    flex-wrap: wrap;    
    gap: 15px;justify-content: center;
}
.stages__item-list{
    min-height: 411px;
}
.stages__num{
    font-size: 44px;
}
.stages__title{
    font-size:34px ;
}
.stages__preview{
    font-size: 22px;
}
.stages__list-text{
    font-size: 14px;
}
.stages__rezult{
    font-size: 22px;
}
/* building */
.building__item h1,
.building__item span{font-size: 46px;}
/* choice */
.choice__content h1{
    font-size: 48px;
}
.choice__box-item{
    flex-wrap: wrap;
}
.choice__title-text{
    font-size: 34px;
}
/* questions */
.questions__title{
    font-size: 46px;
}
.questions__list-grin,
.questions__list-gold{
    font-size: 34px;
}
/* footer */
.footer__link,
.footer__contacts-text{
    font-size: 18px;
}
.footer__item{
    flex-direction: column;
    gap: 66px;
}
.footer__item-box{
    flex-wrap: wrap;
    
}
.footer__contacts-box,.footer__link-box{
    flex-direction: column;
}
    }
    
    
    @media (max-width:768px){
        
        /* preview */
        .preview__title{    
            font-size: 35px;
        }
    .preview__item-info{
        flex-wrap: wrap;    
        gap: 20px;
    }
    

/*.projects  */


.projects__content-title{
    font-size: 42px;
}

.projects__content__text{
    font-size: 14px;
}


.projects__item a{
    font-size: 16px;
}
.projects__title{
    font-size: 32px;
}
.projects__text{
    font-size: 14px;
}
/* show */

.show__title{
    font-size: 40px;
}

  /*.services  */
  .services__previy-don{
    font-size: 14px;
  }
  .services__content-title{
    font-size: 44px;
   }
   .services__num{
    font-size: 34px;
   }
   .services__list-info{
    font-size: 32px;
   }
   .service__list-previy{
    font-size: 16px;
   }
   .service__list-text,
.services__list-previydop{
    font-size: 16px;
}
 /* products */

 .products__info{
    font-size: 16px;
 }
 .products__item{
    justify-content: center;
 }
 /* precess */
 .precess__item{
    gap: 300px;
}
.precess__item-box2{
    gap:100px;
}
/* stages */
.stages__content h1{
    font-size: 42px;  
}
.stages__content-text,
.stages__content-preview{
    font-size: 16px;
}
.stages__num{
    font-size: 42px;
}
.stages__title{
    font-size:32px ;
}
.stages__preview,
.stages__rezult{
    font-size: 20px;
}
/* building */
.building__item h1,
.building__item span{font-size: 44px;}
.building__item p{
    font-size: 18px;
}
/* choice */
.choice__box-item {
    justify-content: center;
}
.choice__content h1{
    font-size: 44px;
}
.choice__title-text{
    font-size: 32px;
}
.choice__text-info{
    font-size: 14px;
}
/* questions */
.questions__title{
    font-size: 44px;
}
.questions__list-grin,
.questions__list-gold{
    font-size: 32px;
}
/* footer */
.footer__link,
.footer__contacts-text{
    font-size: 16px;
    

}

    }
    
    @media (max-width:578px){
        /*preview  */
        .preview__title{
            font-size: 32px;
        }
    .preview__title__text{
        min-width:450px ;
    }
    .preview__list{
        gap: 15px;
        max-width: 380px;
    }
        .preview__item-info{
            align-items: flex-start;
            flex-direction: column;
        }
        /* .projects */
        .projects__content-title{
            font-size: 40px;
        }

        .projects__content__text{
            font-size: 14px;
        }
        .projects__item{
            flex-wrap: wrap;
        }
        .projects__title{
            font-size: 30px;
        }
        .projects__text{
            font-size: 13px;
        }
        /* show */
        .show__title{
            font-size: 42px;
        }

          /*.services  */
          .services__previy-don{
            font-size: 13px;
          }
          .services__content-title{
            font-size: 42px;
           }
           /* products */
           .precess__item{
            gap: 150px;
        }
        .precess__item-box2{
            gap:50px;
        }
        /* stages */
        .stages__content h1{
            font-size: 42px;  
        }
        .stages__content-text,
        .stages__content-preview{
            font-size: 14px;
        }
        .stages__num{
            font-size: 42px;
        }
        .stages__title{
            font-size:30px ;
        }
        /* building */
        .building__item h1,
        .building__item span{font-size: 42px;}
        /* choice */
.choice__content h1{
    font-size: 42px;
}
.choice__title-text{
    font-size: 30px;
}
/* questions */
.questions__title{
    font-size: 42px;
}
.questions__list-grin,
.questions__list-gold{
    font-size: 30px;
}
/* footer */

    }